/*
Name: Kristina Daley
ID: 2405428
Occurrence: UE1 - Wednesday 8am-10am
*/

:root {
    --main-color: #ff66b2;
    --text-color: #000000;
    --bg-color: #f7f7f7; 
    --font: Arial, sans-serif;
    --border-radius: 8px; 
    --highlight-color: #ffcccb; 
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Layout components */
header {
    background-color: var(--main-color);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: white;
    color: var(--main-color);
    border-radius: var(--border-radius);
}

section {
    background-color: #ffffff;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 10px;
}

h2, h3 {
    color: var(--main-color);
}

#about img {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    border-radius: var(--border-radius);
    border: 2px solid #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 2px solid var(--main-color);
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: var(--main-color);
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }
    
    nav ul {
        flex-direction: column; 
    }
    
    header {
        padding: 10px; 
    }
    
    h1 {
        font-size: 2em; 
    }
}

@media (min-width: 601px) and (max-width: 950px) {
   }

@media (min-width: 950px) {
    nav ul {
        flex-direction: row; 
    }
    
    header {
        padding: 20px; 
    }
    
    h1 {
        font-size: 2.5em; 
    }
    
    section {
        margin: 40px auto; 
    }
}